body {
    background-color: var(--base);
    font-family: var(--font-principal);
}

/* ITEMS */

.botao {
    padding: 13px 23px;
    background-color: var(--vermelho);
    border-radius: 8px;

    font-size: 1rem;
    color: var(--base);
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.226);
    font-weight: 500;
    transition: all .2s;
}

.botao:active {
    box-shadow: none;
}

.trasparent {
    background-color: transparent;
    box-shadow: none;
    color: var(--cinza);
}

/* HEADER */
/* NAVIGATION */

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 10rem;
}

.navigation__menu {
    display: flex;
    gap: 2rem;
}

.navigation__menu__item {
    font-size: 1rem;
    color: var(--cinza);
    font-weight: 500;
    text-decoration: none;
    transition: all .2s;
}

.navigation__menu__item:hover {
    color: var(--vermelho);
}

.navigation__login {
    display: flex;
    gap: 12px;
}

/* MAIN */
/* ABOUT */

.about {
    padding: 0 31rem;
    margin: 6rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.about span {
    color: var(--vermelho);
    font-weight: 600;
    font-size: 1rem;
}

.about__title {
    font-size: 3rem;
    color: var(--azul);
    font-weight: 600;
}

.text {
    font-weight: 400;
    color: var(--cinza);
}

.about__text {
    font-size: 1.25rem;
    line-height: 1.875rem;
}

/* METRIC */

.metric {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
    margin-bottom: 6rem;
}

.metric__box {
    margin: 0 2rem 0 0;
}

.metric__box__title {
    font-size: 3.75rem;
    font-weight: 600;
    color: var(--vermelho);
    margin: 0 0 12px 0;
}

.metric__box__subtitle {
    font-size: 1.125rem;
    color: var(--azul);
    font-weight: 500;
    margin: 0 0 10px 0;
}

.metric__box__text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

/* ANUNCIO */

.anuncio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 6rem 0;
}

.anuncio span {
    font-size: 0.875rem;
    color: var(--vermelho);
    font-weight: 500;
    padding: 10px;
    background-color: #8e242414;
    border-radius: 16px;
}

.anuncio__title {
    font-size: 2.25rem;
    font-weight: 600;
}

.anuncio__text {
    font-size: 1.25rem;
    font-weight: 400;
}

.anuncio__img {
    width: 70%;
}

/* VAGAS */

.vagas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vagas__vaga {
    /* border: 1px solid red; */
    width: 45%;
    margin-bottom: 4rem;
}

.vagas__vaga__title {
    display: block;
    color: var(--azul);
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.vagas__vaga__info {
    padding: 1.5rem;
    border: 1.5px solid var(--cinza-claro);
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.vagas__vaga__info__title {
    display: block;
    font-size: 1.125rem;
    color: var(--azul);
    margin-bottom: 3rem;
}

.vagas__vaga__info__data span {
    margin-right: 1.5rem;
}

/* DEPOIMENTO */

.depoimento {
    text-align: center;
    padding: 4rem;
    background-color: #ec717117;
    width: 70%;
    margin: 0 auto 6rem auto;
    border-radius: 16px;
}

.depoimento__chamada {
    display: block;
    font-size: 0.875rem;
    color: var(--vermelho);
    font-weight: 500;
    margin-bottom: 1rem;
    border-radius: 16px;
}

.depoimento__title {
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: var(--azul);
}

.depoimento__colab__nome {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    margin: 10px 0;
    color: var(--azul);
}
.depoimento__colab__cargo {
    display: block;
    color: var(--cinza);
}

/* RODAPE */

footer {
    padding: 6rem 0;
    background-color: var(--gray-clear);
}

.rodape {
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.rodape__title {
    font-size: 2.25rem;
    color: var(--azul);
    font-weight: 600;
    margin-bottom: 32px;
}

.rodape__text {
    margin-bottom: 40px;
    font-size: 1.25rem;
}

.rodape__input__input {
    padding: 16px 16px;
    border-radius: 8px;
    border: 1px solid var(--cinza-claro);
    width: 330px;
    margin-bottom: 2rem;
}

.rodape__input__input::placeholder {
    color: var(--cinza);
    font-size: 1rem;
}

.rodape__input__button {
    border: none;
    border-radius: 8px;
    margin-left: 6px;
    font-size: 1rem;
    font-weight: 500;
}

.rodape__input__button:hover {
    cursor: pointer;
}

.rodape__copy {
    color: #98A2B3;

}